/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-Editor-firstpass-vs.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-vs.csproj
/Assembly-UnityScript.unityproj
/Assembly-UnityScript-vs.unityproj
/UnityVS.ZipAndAnimationReplay.CSharp.csproj
/UnityVS.ZipAndAnimationReplay.CSharp.Editor.csproj
/UnityVS.ZipAndAnimationReplay.CSharp.Editor.Plugins.csproj
/UnityVS.ZipAndAnimationReplay.sln
/ZipAndAnimationReplay.sln
/ZipAndAnimationReplay-csharp.sln
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Library
/.vscode
/obj
/Temp
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-firstpass-vs.csproj
/UnityVS.ZipAndAnimationReplay.CSharp.Plugins.csproj
/TinyReplaySystem-csharp.sln
/TinyReplaySystem.sln
